{% set logo = theme_var(mobile ? 'custom_logo_mobile' : 'custom_logo') %}
<a style="margin:auto" href="{{ home_url }}" class="navbar-brand mr-10">
  <img src="{{ theme_url }}/images/thecampFOW.png" />
</a>
