@font-face {
  font-family: GTExpMedium;
    src: url(../fonts/GT-America-Expanded-Medium.ttf);
}
@font-face {
  font-family: GTExtMedium;
    src: url(../fonts/GT-America-Extended-Medium.woff);
}
@font-face {
  font-family: GTExtMedium;
    src: url(../fonts/GT-America-Extended-Medium-Italic.woff);
    font-style: italic;
}
@font-face {
  font-family: GTExtLight;
  src: url(../fonts/GT-America-Extended-Light.woff);
}
@font-face {
  font-family: GTExtLight;
  src: url(../fonts/GT-America-Extended-Light-Italic.woff);
   font-style: italic;
}
@font-face {
  font-family: GTExpLight;
    src: url(../fonts/GT-America-Expanded-Light.woff);
}
@font-face {
  font-family: GTExpLight;
    src: url(../fonts/GT-America-Expanded-Light-Italic.woff);
    font-style: italic;
}
@font-face {
  font-family: GTExpBold;
    src: url(../fonts/GT-America-Expanded-Bold.woff);
}
@font-face {
  font-family: MaisonNeue;
    src: url(../fonts/MaisonMono-Light.woff2);
}

body, h1, h2, h3, h4, h5, p, button {
  font-family: GTExpMedium !important;
}


#header .navbar-section {
    height: 5.5rem;
    display: block;
    margin: 0 auto;
    text-align: center;
}
